.heading-profile {
  align-self: center;
  height: 15.5rem;
  width: 15.5rem;
  border-radius: 50%;
  margin-bottom: 3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
}

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}

.heading-icon {
  font-size: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--main {
    cursor: pointer;
  }
}
