.u-text-center {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom {
  margin-bottom: 3rem !important;
}

.u-flex-start {
  align-self: flex-start !important;
}

.u-flex-end {
  align-self: flex-end !important;
}

.u-margin-left {
  margin-left: 9rem !important;
}

.u-margin-right {
  margin-right: 9rem !important;
}

.u-margin-top {
  margin-top: 9rem !important;
}
