.row {
  max-width: var(--grid-width);
  //   background: #eee;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  //   align-items: center;
  //   flex-direction: row;

  &:not(:last-child) {
    margin-bottom: var(--gutter-vertical);
  }

  [class^="col-"] {
    flex: 1;
    // background: orangered;

    &:not(:last-child) {
      margin-right: var(--gutter-horizontal);
    }
  }

  [class^="col-2-"] {
    flex: 2 0 var(--gutter-horizontal);
  }

  [class^="col-3-"] {
    flex: 3 0 var(--gutter-horizontal-double);
  }
}
