.header {
  height: 90vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-light, 0.8)
    ),
    url(../img/background-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  //   display: flex;

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
