.navigation {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  z-index: 100;

  //   position: fixed;
  //   width: 96.3vw;

  &__logo {
    height: 3.5rem;
  }
}
