.timeline {
  display: flex;
  margin-bottom: 3rem;

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__center {
    border-left: 2px solid black;
  }
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
